#particle-js {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index:0;

    
}

.loc {
    z-index: 999;
    width:60%;
}

.login-logo img {
    width: 279px;
    height: 221px;
  }