#particles-js {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index:0;
    padding-left: 40%;

    .loc {
        z-index: 999;
        margin-left:10%;
        width: 20%;

        // @media only screen and (max-width: 1600px) {
        //     margin-left: 45%;
        //     width: 900px;
        // }
        // width:900px;
    }
}

.login-logo img {
    width: 279px;
    height: 221px;
  }