#particles-js {
    height: 100%;
    width: 100%;
    background-color: black;
    z-index:0;

    .loc {
        z-index: 999;
        margin-left: 25%;

        @media only screen and (max-width: 1300px) {
            margin-left: 20%;
            width: 900px;
        }
        // width:900px;
    }
}

.login-logo img {
    width: 279px;
    height: 221px;
  }