.toolbar-position {
    display: flex;
    z-index: 2; 
    flex-direction: row-reverse;
}

.display {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
}

.an-toolbar-position {
    display: flex;
    position: fixed;
    z-index: 999; 
}
